<div class="page-header">
  <h1>{{model?.user}}'s To Do List
    <span class="label label-default"
    [ngClass]="{'label-success': TnIncompletas()<2, 'label-warning': TnIncompletas() >=2}"
    *ngIf="TnIncompletas()> 0">
    {{TnIncompletas()}}</span>

  </h1>
  {{ fecha | date }}
</div>

<div class="panel">
  <div class="input-group"><input type="text" class="form-control" #item>
    <span class="input-group-btn">
      <button class="btn btn-default"
      (click)="addItem(item.value); item.value=''"
      >Add</button>
      </span></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tarea</th>
      <th>completada</th>
      <th>Prioridad</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of model?.items; let i = index"><!--modifica o genera codigo porque empieza por * -->
      <td>{{item.action}}</td>
      <td>{{item.done}}</td>
      <td><input type="checkbox" [(ngModel)] = "item.done"></td><!-- enlace bidireccional entre el input y elemento de la clase-->
      <td> <app-prioridad
        [prioridad]="item.prioridad"
        (nuevaPrioridad)="nuevaPrioridad($event)"
      ></app-prioridad></td>
      <td>{{ item | json}}</td>
    </tr>


    </tbody>
  </table>

</div>
